#Python Practise

In [1]:
a = 4.5
b = 6

print(f'Variable a is of Type {type(a)}, while variable b is of type {type(b)}')


print(f'Division of a by b results in type: {type(a/b)}, the result is {a/b}')


isinstance(a, (str, dict, int, float))

Variable a is of Type <class 'float'>, while variable b is of type <class 'int'>
Division of a by b results in type: <class 'float'>, the result is 0.75

True

In [2]:
data = [1,2,3]

print(f'Now printing the contents of the ''data'' variable:{data}')
print(data)


b = data


print(f'Now printing the contents of the ''b'' variable:{b}')

print(b)

data.append(6)

print(b)

Now printing the contents of the data variable:{data}
[1, 2, 3]
Now printing the contents of the b variable:{b}
[1, 2, 3]
[1, 2, 3, 6]

In [3]:
# String Methods

a = "Hello, World!"

b = """
The following are mutable
--------------------------
- Lists
- Dictionaries
- NumPy Arrays

The following are not mutable
------------------------------
- Strings
- Tuples
- Frozensets
- Namedtuples
- Dataclasses
"""          

print(b)

The following are mutable
--------------------------
- Lists
- Dictionaries
- NumPy Arrays

The following are not mutable
------------------------------
- Strings
- Tuples
- Frozensets
- Namedtuples
- Dataclasses

In [4]:
def add_and_maybe_multiply (a, b, c=None):
    """    This is a test to see what is in doc strings """
    result = a + b
    if c is not None:
        result = result * c
    return result

In [5]:
add_and_maybe_multiply.__doc__

'    This is a test to see what is in doc strings '

In [6]:
add_and_maybe_multiply(2,3,123)

615

In [7]:
from datetime import datetime, date, time

In [8]:
dt = datetime(2020, 5, 17, 12, 30, 45)
print(dt)
print(dt.date())
print(dt.time())
print(dt.day)
print(dt.month)
print(dt.year)


print("-----------------------")

print(dt.strftime("%Y-%m-%d %H:%M"))

2020-05-17 12:30:45
2020-05-17
12:30:45
17
5
2020
-----------------------
2020-05-17 12:30

In [9]:
dt.strptime("202005", "%Y%m")

print("-----------------------")

print(dt.replace(year=2021, month=6, day=18, hour=14, minute=45, second=30))
print(dt)

-----------------------
2021-06-18 14:45:30
2020-05-17 12:30:45

In [10]:
dt1 = datetime(2025, 3, 9)
dt2 = datetime(2025, 9, 8)

delta = dt2 - dt1
print(delta)

dt3 = dt2 + delta
dt3
print(dt3)

183 days, 0:00:00
2026-03-10 00:00:00

In [11]:
x = 3
if x < 0:
    print("x is negative")
elif x == 0:
    print("x is zero")
elif 0 < x < 5:
    print("x is positive and less than 5")
else:
    print("x is positive and greater than or equal to 5")

x is positive and less than 5

In [12]:
a = 5; b = 2
c = 8; d = 10

if a < b or c > d:
    print("made it")
else:
    print("Doesn't meet any conditions")

Doesn't meet any conditions

In [13]:
sequence = [1,2,None,4,None,5]
total = 0

for value in sequence:
    if value is None:
        continue
    total = total + value
# return total
    print(total) # Within the indent returns the total everytime the loop runs
print(total) # Outside the loop returns the final total

1
3
7
12
12

In [14]:
sequence = [1,2,0,3,0,4,5, 12, 32, 23]
total = 0

for value in sequence:
    if value == 5:
        break
    total = total + value
    # print(total)
print(total)

10

In [15]:
name = "XWEStunde"
count = 0


for letter in name:
    for letter in name:
        if letter == "a" or letter == "b":
            break
        print("Encountered letter:", letter)
    count = count + 1
    print("Total letters processed:", count)

Encountered letter: X
Encountered letter: W
Encountered letter: E
Encountered letter: S
Encountered letter: t
Encountered letter: u
Encountered letter: n
Encountered letter: d
Encountered letter: e
Total letters processed: 1
Encountered letter: X
Encountered letter: W
Encountered letter: E
Encountered letter: S
Encountered letter: t
Encountered letter: u
Encountered letter: n
Encountered letter: d
Encountered letter: e
Total letters processed: 2
Encountered letter: X
Encountered letter: W
Encountered letter: E
Encountered letter: S
Encountered letter: t
Encountered letter: u
Encountered letter: n
Encountered letter: d
Encountered letter: e
Total letters processed: 3
Encountered letter: X
Encountered letter: W
Encountered letter: E
Encountered letter: S
Encountered letter: t
Encountered letter: u
Encountered letter: n
Encountered letter: d
Encountered letter: e
Total letters processed: 4
Encountered letter: X
Encountered letter: W
Encountered letter: E
Encountered letter: S
Encountered letter: t
Encountered letter: u
Encountered letter: n
Encountered letter: d
Encountered letter: e
Total letters processed: 5
Encountered letter: X
Encountered letter: W
Encountered letter: E
Encountered letter: S
Encountered letter: t
Encountered letter: u
Encountered letter: n
Encountered letter: d
Encountered letter: e
Total letters processed: 6
Encountered letter: X
Encountered letter: W
Encountered letter: E
Encountered letter: S
Encountered letter: t
Encountered letter: u
Encountered letter: n
Encountered letter: d
Encountered letter: e
Total letters processed: 7
Encountered letter: X
Encountered letter: W
Encountered letter: E
Encountered letter: S
Encountered letter: t
Encountered letter: u
Encountered letter: n
Encountered letter: d
Encountered letter: e
Total letters processed: 8
Encountered letter: X
Encountered letter: W
Encountered letter: E
Encountered letter: S
Encountered letter: t
Encountered letter: u
Encountered letter: n
Encountered letter: d
Encountered letter: e
Total letters processed: 9

In [16]:
# While Loops

x = 2
total = 0

while x > 0:
    print(x)
    if total > 1000:
        print("Cursor Total:", total)
        break
    total = total + x
    # x = x // 2
print("Current total:", total)

2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
Cursor Total: 1002
Current total: 1002

In [17]:
x = 0

if x < 0:
    print("Negative value encountered:", x)
elif x == 0:
    # TODO: No Idea
    pass
else:
    print("x is positive and greater than zero")

In [18]:
for i in range(0,-10,-1):
    print(f"element {i}")

element 0
element -1
element -2
element -3
element -4
element -5
element -6
element -7
element -8
element -9

In [19]:
sequence = [1, 2, 3, 4, 5]

for i in range(len(sequence)):
    print(f"element:{i}, {sequence[i]}")

element:0, 1
element:1, 2
element:2, 3
element:3, 4
element:4, 5

In [20]:
total = 0

for i in range(100_000):
    if i % 3 == 0 or i % 5 == 0:
        total = total + i

print(total)

2333316668

In [21]:
tup = (1, 2, 3)

tup

tupb = 1,2,3

if tup == tupb:
    print("Tuples are equal")

data = [4,0,2]

type(data)
print(type(data))


print(type(tuple(data)))

nested_tuple = (tup, tupb, tuple(data))
print(nested_tuple[0],'\n',nested_tuple[1],'\n',nested_tuple[2])

Tuples are equal
<class 'list'>
<class 'tuple'>
(1, 2, 3)
 (1, 2, 3)
 (4, 0, 2)

In [22]:
tuple_data = ('Foo',[1,2,3],True)
print(tuple_data)

tuple_data[1].append(5)
print(tuple_data * 4) # Tuple Multiplication
print(tuple_data + tuple_data) # Tuple Concatenation

('Foo', [1, 2, 3], True)
('Foo', [1, 2, 3, 5], True, 'Foo', [1, 2, 3, 5], True, 'Foo', [1, 2, 3, 5], True, 'Foo', [1, 2, 3, 5], True)
('Foo', [1, 2, 3, 5], True, 'Foo', [1, 2, 3, 5], True)

In [23]:
# Tuple unpacking

tup = (4,5,6)

a, b, c = tup

print(b)

print(c)


tup_b = (7,8,(9,10))

d, e, f = tup_b

print(e)

print(f) # Nested Tuple unpacking
print(f[0]) # Accessing element from nested tuple

5
6
8
(9, 10)
9

In [24]:
a, b = 1, 2

print(a)
print(b)

print("After Swap")

b, a = a, b
print(a)
print(b)

1
2
After Swap
2
1

In [25]:
sequence = [(1, 2), (3, 4), (5, 6)]

for a, b in sequence:
    print(f'a={a}, b={b}')

a=1, b=2
a=3, b=4
a=5, b=6

In [26]:
values = 1, 2, 3, 4, 5

a, b, *rest = values

print(a)
print(b)
print(rest)

1
2
[3, 4, 5]

In [27]:
sequence_tuple = (1, 2, 3, 3,4, 5, 6)

sequence_tuple.count(3)  # Counts how many times 3 appears in the tuple

2

In [28]:
gen = range(10)

print(list(gen))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
sequence = list(gen)
print(sequence)


# difference between append and insert
sequence.append(10) # Appends 10 to the end of the list
print(sequence)

sequence.insert(0,-1) # Inserts -1 at the beginning of the list
print(sequence)


sequence.pop(0) # Removes the first item in the list, 0 indicates the index
print(sequence)


sequence.remove(3) # Removes the first occurrence of 3 in the list
print(sequence)


# Check for membership
10 in sequence
15 in sequence


sequence.extend([11,12,13]) # Extends the list by appending elements from the iterable
print(sequence)

sequence.insert(4, 3) # Inserts 3 at index 4 of the list
print(sequence)

# You can also concatenate lists
sequence = sequence + [14, 15]
print(sequence)

sequence.sort()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[0, 1, 2, 4, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[0, 1, 2, 4, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [30]:
b = ["Hen", "Peacock", "Sparrow", "Canary", "Finch"]

b.sort() # Sorts the list in ascending order
print(b)

b.sort(key=len) # Sorts the list based on the length of the string
print(b)

print(b[1:3]) # Slicing the list to get elements from index 1 to 2

print(b[3:]) # Slicing the list to get elements from index 3 to the end

print(b[:3]) # Slicing the list to get elements from index 1 to 2

['Canary', 'Finch', 'Hen', 'Peacock', 'Sparrow']
['Hen', 'Finch', 'Canary', 'Peacock', 'Sparrow']
['Finch', 'Canary']
['Peacock', 'Sparrow']
['Hen', 'Finch', 'Canary']

In [31]:

sequence[2:5] = [6,3]

print(sequence)

[0, 1, 6, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [32]:
# Dictonaries

d1 = {
    'name': 'John',
    'age': 30,
    'city': 'New York',
    'b': 100
}




print(d1['b'])


'b' in d1


d1[5] = 'Some Value'
d1


del d1[5]

d1


mod_d1 = d1.pop('age') # Removes the key 'age' and returns its value

mod_d1
d1

print(d1) # The current state of the dictionary
print(d1.keys()) # The keys in the dictionary
print(d1.values()) # The values in the dictionary
print(d1.items()) # The key-value pairs in the dictionary as tuples

100
{'name': 'John', 'city': 'New York', 'b': 100}
dict_keys(['name', 'city', 'b'])
dict_values(['John', 'New York', 100])
dict_items([('name', 'John'), ('city', 'New York'), ('b', 100)])

In [33]:
d1.update({'age': 31, 'city': 'Los Angeles', 'country': 'USA'}) # Updates the dictionary with new key-value pairs
# the update method adds new key-value pairs to the dictionary or updates existing ones
d1

{'name': 'John', 'city': 'Los Angeles', 'b': 100, 'age': 31, 'country': 'USA'}

In [34]:
seq1 = [1,2,3]
seq2 = ['a','b','c']

mapping = {}

for key, value in zip(seq1, seq2):
    mapping[key] = value
    print(mapping)
# This demonstrates how to create a dictionary from two sequences

{1: 'a'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 3: 'c'}

In [35]:
tuple1 = (4,5,6)
tuple2 = ('d','e','f')

mapping = {}

for key, value in zip(tuple1, tuple2):
    mapping[key] = value
    print(mapping)
# This demonstrates how to create a dictionary from two sequences

{4: 'd'}
{4: 'd', 5: 'e'}
{4: 'd', 5: 'e', 6: 'f'}

In [36]:
tuple1 = (4,5,6)
tuple2 = ('d','e','f')

print(zip(tuple1, tuple2))

mapping = dict(zip(tuple1, tuple2))

print(mapping)

<zip object at 0x000002813C5697C0>
{4: 'd', 5: 'e', 6: 'f'}

In [37]:
words = ['This', 'is', 'a', 'list', 'of', 'words', 'In', 'a', 'Python', 'Dictionary']

by_letter = {}

# This loop takes each word in the words list and groups them by their first letter by slicing the first character from each word and using it as a key in the by_letter dictionary
# The if statement checks if the letter is already a key in the dictionary, and if not, it creates a new list for that letter
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

print(by_letter)


"""
.setdefault(letter, []) checks if the dictionary already has a key called 'letter'.
If it does, it returns the value for that key. If it doesnâ€™t, it creates a new key called 'letter' and sets its value to an empty list ([]), then returns that list.
This lets you safely add items to the list for each letter without worrying if the key exists yet.
"""
by_letter2 = {}
# Using .setdefault()
for word in words:
    letter = word[0]
    by_letter2.setdefault(letter, []).append(word)

print(by_letter2)




name = 'Babatunde'

name_list = list(name)

print(name_list)

name_dict = {}

for letter in name_list:
    name_dict[letter] = name_list.count(letter)

print(name_dict)

{'T': ['This'], 'i': ['is'], 'a': ['a', 'a'], 'l': ['list'], 'o': ['of'], 'w': ['words'], 'I': ['In'], 'P': ['Python'], 'D': ['Dictionary']}
{'T': ['This'], 'i': ['is'], 'a': ['a', 'a'], 'l': ['list'], 'o': ['of'], 'w': ['words'], 'I': ['In'], 'P': ['Python'], 'D': ['Dictionary']}
['B', 'a', 'b', 'a', 't', 'u', 'n', 'd', 'e']
{'B': 1, 'a': 2, 'b': 1, 't': 1, 'u': 1, 'n': 1, 'd': 1, 'e': 1}

In [39]:
from collections import defaultdict

by_letter2 = defaultdict(list)

for word in words:
    by_letter2[word[0]].append(word)
    print(by_letter2) # Prints the dictionary at each iteration to show how it builds up
print(by_letter2)

defaultdict(<class 'list'>, {'T': ['This']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is'], 'a': ['a']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is'], 'a': ['a'], 'l': ['list']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is'], 'a': ['a'], 'l': ['list'], 'o': ['of']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is'], 'a': ['a'], 'l': ['list'], 'o': ['of'], 'w': ['words']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is'], 'a': ['a'], 'l': ['list'], 'o': ['of'], 'w': ['words'], 'I': ['In']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is'], 'a': ['a', 'a'], 'l': ['list'], 'o': ['of'], 'w': ['words'], 'I': ['In']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is'], 'a': ['a', 'a'], 'l': ['list'], 'o': ['of'], 'w': ['words'], 'I': ['In'], 'P': ['Python']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is'], 'a': ['a', 'a'], 'l': ['list'], 'o': ['of'], 'w': ['words'], 'I': ['In'], 'P': ['Python'], 'D': ['Dictionary']})
defaultdict(<class 'list'>, {'T': ['This'], 'i': ['is'], 'a': ['a', 'a'], 'l': ['list'], 'o': ['of'], 'w': ['words'], 'I': ['In'], 'P': ['Python'], 'D': ['Dictionary']})

In [41]:
hash("string")

hash([1,2,3,4])

TypeError: unhashable type: 'list'

In [42]:
# To hash a list so it can be used as a key in a dictionary, you can convert it to a tuple
d = {}
d[tuple([1,2,3,4])] = 5

d

{(1, 2, 3, 4): 5}

In [45]:
# A set is a collection of unique elements

unique_letters = set(list('Babatunde'))

unique_letters2 = {'B','a','b','a','t','u','n','d','e'}

print(unique_letters)
print(unique_letters2)

{'n', 'd', 'b', 'u', 'B', 't', 'e', 'a'}
{'n', 'd', 'b', 'u', 'B', 't', 'e', 'a'}

In [ ]:
a = {1,2,3,4}
b = {3,4,5,6}


print(a | b)
print(a.union(b))

print(a & b)
print(a.intersection(b))

print(a - b)
print(a.difference(b))

print(a ^ b)
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}

In [1]:
# list, set and dictionary comprehensions

# List comprehension
squares = [x**2 for x in range(10)]
print(squares)

# Set comprehension
unique_squares = {x**2 for x in range(10)}
print(unique_squares)

# Dictionary comprehension
square_dict = {x: x**2 for x in range(10)}
print(square_dict)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [5]:
strings = ["a", "as", "bat", "car", "dove", "python"]


strings_comprehension = [x.upper() for x in strings if len(x) > 2]

print(strings_comprehension)


unique_lengths = {len(x) for x in strings}

print(unique_lengths)


print(map(len, strings))

print(set(map(len, strings)))

#What does the map function do?

['BAT', 'CAR', 'DOVE', 'PYTHON']
{1, 2, 3, 4, 6}
<map object at 0x000001E6AD099240>
{1, 2, 3, 4, 6}

In [7]:
loc_mapping = {value: index for index, value in enumerate(strings)}


loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [11]:

all_data = [
    ["John", "Emily", "Michael", "Maary", "Steven"],
    ["Maria", "Juan", "Javier", "Natalia", "Pilar"]
]

names_of_interest = []



for names in all_data:
    enough_as = [name for name in names if name.count('a') >= 2]
    print(enough_as)
    names_of_interest.extend(enough_as)

print(names_of_interest)


# OR

result = [name for names in all_data for name in names if name.count('a') >= 2]
result

['Maary']
['Maria', 'Natalia']
['Maary', 'Maria', 'Natalia']

['Maary', 'Maria', 'Natalia']

In [12]:
some_tuples = [
    (1,2,3),
    (4,5,6),
    (7,8,9)
]


flattened = [x for tup in some_tuples for x in tup ]

print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
# Functions

def my_function (x, y):
    return x + y

print(my_function(5, 10))
print(my_function(10, 10))
print(my_function(6, 10))
print(my_function("as ", "as"))



def function_with_no_return(x):
    print(x)

print(f'testing functions with out the return keyword: {function_with_no_return(5)}')

15
20
16
as as
5
testing functions with out the return keyword: None

In [25]:
def my_function2(x, y, z = 1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)


print(my_function2(5, 6))

print(my_function2(5, 6, z=2))

16.5
22

In [28]:
def func():
    a = []
    for i in range(5):
        a.append(i)
    return a
print(func())

[0, 1, 2, 3, 4]

In [30]:
a = []


def func():
    for i in range(5):
        a.append(i)
    return a

print(func())

print(func())

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [4]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

import re

def data_cleaning(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = re.sub('   ', ' ', value)
        value = value.title()
        result.append(value)
    return result

cleaned_states = data_cleaning(states)
print(cleaned_states)

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South Carolina', 'West Virginia']

In [8]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

cleaned_states2 = clean_strings(states, clean_ops)
# cleaned_states2 = set(clean_strings(states, clean_ops))

print(cleaned_states2)

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South   Carolina', 'West Virginia']

In [10]:
# The beauty of lambda functions

def apply_to_list(some_list, func):
    return [func(x) for x in some_list]

ints = [4,0,1,5,6,2]

apply_to_list(ints, lambda x: x*2) # Lambda in this case represents the "func" defined in the apply_to_list function

[8, 0, 2, 10, 12, 4]

In [12]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

strings.sort(key=lambda x: len(set(x)))
print(strings)

['aaaa', 'foo', 'abab', 'bar', 'card']

In [18]:
def squares(n=10):
    print(f'Generating squares from 0 to {n ** 2}')
    for i in range(n + 1):
        yield i ** 2


gen = squares()
# with generators you have to iterate through them to get the values, you do this using a for loop
for x in gen:
    print(x, end=' ')

Generating squares from 0 to 100
0 1 4 9 16 25 36 49 64 81 100